.ds-u-min-height--100vh {
  min-height: 100vh;
}

footer {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
}

footer nav {
  display: flex;
  justify-content:space-between;
  gap: 40px;
}

footer a {
  color: #0d6efd;
  text-decoration: underline;
}

footer a:hover {
  color: #004499;
} 